@import './base.css';

* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
*::-webkit-scrollbar {
  background: rgba(128, 128, 128, 0.012);
}

*::-webkit-scrollbar-track {
  background: rgba(19, 19, 19, 0.02) !important;
}

*::-webkit-scrollbar-thumb {
  background: rgba(0, 166, 255, 0.054);
  border-radius: 1rem;
}

*:has(::-webkit-scrollbar-track:hover) ::-webkit-scrollbar-thumb {
  background: rgba(0, 166, 255, 0.181);
}

#app {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  overflow: hidden;
  width: 100%;

  align-self: center;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}
.t-i-s-d-2 {
  display: none;
}
.skel-cnt {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  width: 100% !important;
}

@media (max-width: 920px) {
  body {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  #app {
    max-width: 555px;
  }

  *::-webkit-scrollbar {
    display: none;
  }
}
@media (min-width: 920px) {
  .teachings-skeleton-cnt-desktop {
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 80%;
  }
  .teachings-skeleton-desktop {
    max-width: 50rem !important;
    width: auto !important;
    height: auto !important;
    flex-direction: row !important;
  }

  .teachings-img-skeleton-desktop {
    width: 50rem !important;
    height: 20rem !important;
  }

  .teachings-info-skeleton-desktop {
    margin-block-start: 1rem;
    padding: 1rem 0rem;
  }
  .t-i-s-d-2 {
    display: flex;
  }
}
